
.heading
{
font-size: 40px;
width: 100%;
margin: 0px;
}

button{
    font-size: 30px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-weight: bold !important;
    margin: 10px;
}

.home_button{
    bottom:0;
    position: fixed;
    float:none;
}